# .env file 
# -----------------------------------------------------------------------------
# NOTE ON IP ADDRESSES: 
# If you are running Music Assistant and this Hybrid App on the same NAS/Server, 
# MASS_IP and APP_IP will all be the EXACT SAME local IP address.
# -----------------------------------------------------------------------------

# BOSE SOUNDTOUCH HYBRID 2026 SERVER SETTINGS
# The speaker's internal Bose Cloud Emulation URLs (marge, bmxRegistry, etc) 
# will be rewritten to match these values when using the Cloud Emulation Feature.
# APP_IP must be the actual local IP address of the server/NAS running this container.
APP_IP=xxx.xxx.x.xx
# APP_PORT defaults to 3000 (Standard for Node.js). Change only if you have a port conflict.
APP_PORT=3000
# BOSE HARDWARE SETTINGS
# 8090 is the standard port hardcoded into Bose SoundTouch hardware. Do not change unless port-forwarding.
BOSE_PORT=8090

# LOGGING
LOG_DIR=./config/logs

# MASS (MUSIC ASSISTANT v2.8.5 or later required) SERVER SETTINGS SERVER SETTINGS
MASS_IP=xxx.xxx.x.xx
# MASS_PORT defaults to 8095. Change only if you customized it in Music Assistant.
MASS_PORT=8095
MASS_USERNAME=xxxxx
MASS_PASSWORD=xxxxxxxx

# MASS DOCKER RESTART SETTINGS 
# Needed to restart MASS within the Hybrid App System Tools
# The exact Docker container name of your Music Assistant instance.
# - Standalone Docker: usually 'music-assistant-server'
# - Home Assistant OS / Add-on users: 
#   1. Open Home Assistant.
#   2. Go to Settings > Add-ons > Music Assistant.
#   3. Look at the URL in your browser (e.g., .../addon/ccab4aaf_music_assistant/info).
#   4. Copy the part after '/addon/' and add 'addon_' to the front.
#   5. Example: MASS_CONTAINER_NAME=addon_ccab4aaf_music_assistant
MASS_CONTAINER_NAME=music-assistant-server

# WIRELESS LINK ADAPTER WORKAROUND
# Set to 'true' to intercept WLA UI preset clicks and route directly to Music Assistant.
# Set to 'false' to let the WLA hardware handle presets normally (if Bose leaves an active dummy endpoint in their servers after May 2026 to keep devices stable).
WLA_PRESET_BYPASS=true

# AUTO RESUME PRESET 
# Set to 'true' to remember the last playing preset when a speaker is turned off, 
# and automatically resume playing that preset when the speaker is turned back on.
# Set to 'false' to always boot the speaker to a silent, vanilla Wi-Fi state.
AUTO_RESUME_PRESET=true
